body{
  background-image: linear-gradient(#A5BBF3, #A585C1, #64CCCE);
}
h1{
  font-size:280%;
  font-family:"Lucida Console", "Courier New", monospace;
}
img{
  width:75%;
  border:dotted #040404 8px;
}
p{
  font-size:160%;
  font-family: "Papyrus", Fantasy;
}
ul{
 list-style-type: none;
 width:100%;
 text-align: center;
}
li{
  float:left;
}
li a{
  color:black;
  padding: 50px;
  text-decoration-line: none;
  font-family:"Papyrus", Fantasy;
  font-size:120%;
}
li a:hover{
  background-color:white;
  color:#64CCCE;
}
